In [39]:
import pandas as pd
airports = pd.read_csv('/home/gh23935521/nycflights13/data-raw/airports.csv')

# 1. What is the northernmost airport in the United States?

In [40]:
airports.sort_values('lat', ascending=False)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
...,...,...,...,...,...,...,...,...
930,MUE,Waimea Kohala,20.001328,-155.668108,2671,-10,A,Pacific/Honolulu
1403,WKL,Waikoloa Heliport,19.913600,-155.864000,109,-10,N,Pacific/Honolulu
231,BSF,Bradshaw Aaf,19.760056,-155.553717,6190,-10,A,Pacific/Honolulu
734,KOA,Kona Intl At Keahole,19.738767,-156.045631,47,-10,N,Pacific/Honolulu
679,ITO,Hilo Intl,19.721375,-155.048469,38,-10,N,Pacific/Honolulu

According to the given dataset, the northernmost airport seems to be Dillant Hopkins Airport (EEN). It has the highest latitude out of all airports. However, the dataset seems to possess incorrect information. Based on my research, EEN's coordinates have been switched when entered into the original file. Additionally this airport is located in New Hampshire, making it physically impossible for it to be the northernmost airport. Meanwhile Wiley Post Will Rogers (BRW) possesses the next highest valid latitude. It is located at the northernmost point in Alaska, the northernmost state in the country.

**(Source: https://latitude.to/lat/42.89462/lng/-72.26986)**

# 2. What is the easternmost airport in the United States?

In [41]:
northports = airports[(airports.lon <= 0) & (airports.tzone == 'America/New_York')]
northports.sort_values('lon')

,faa,name,lat,lon,alt,tz,dst,tzone
310,CMX,Houghton County Memorial Airport,47.168400,-88.489100,1095,-5,A,America/New_York
913,MQT,Sawyer International Airport,46.353611,-87.395278,1221,-5,A,America/New_York
623,HUF,Terre Haute Intl Hulman Fld,39.451464,-87.307561,589,-5,A,America/New_York
449,ESC,Delta County Airport,45.722778,-87.093611,609,-5,A,America/New_York
763,LAF,Purude University Airport,40.412306,-86.936889,606,-5,A,America/New_York
...,...,...,...,...,...,...,...,...
1398,WFK,Northern Aroostook Regional Airport,47.285556,-68.312778,988,-5,A,America/New_York
1101,PQI,Northern Maine Rgnl At Presque Isle,46.688958,-68.044797,534,-5,A,America/New_York
259,CAR,Caribou Muni,46.871500,-68.017917,626,-5,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

According to the given dataset, Eastport Municipal Airport (EPM) is the easternmost airport. All eastern airports will be within the New York timezone, so it's best to filter those only. Finally, since the U.S. is located within the Western Hemisphere, the easternmost airport will be whichever one has the longitude closest to 0, where the Prime Meridian is located. Therefore EPM is the easternmost airport.

# 3. On February 12th, 2013, which New York area airport had the windiest weather?

In [43]:
weather = pd.read_csv('/home/gh23935521/nycflights13/data-raw/weather.csv')
feb12 = weather[(weather.year == 2013) & (weather.month == 2) & (weather.day == 12)]
feb12.sort_values('wind_speed', ascending=False).head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
18429,LGA,2013,2,12,14,44.06,23.00,43.02,300.0,20.71404,25.31716,0.0,1011.5,10.0,2013-02-12T19:00:00Z

It's easy to assume that EWR had the windiest weather due to its extremely high windspeed. However, this is likely an outlier caused by a sharp wind gust, which could explain why the value is missing. LGA has the highest wind speed and wind gust measurements in the entire datasent, making it the airport with the windiest weather on that day.